CMakeCache.txt
CMakeFiles/
Makefile
biere-fuzz
cmake_install.cmake
compile_commands.json
out/
**journal.synctex.gz
**journal.out
**journal.log
**journal.aux
**journal.blg
**journal.bbl
bins/sharpsat-td-mccomp2022/build/
