CMakeCache.txt
CMakeFiles/
Makefile
biere-fuzz
cmake_install.cmake
compile_commands.json
perf*
sandbox/approxmc-results/nopreproc/*.cnf
sandbox/approxmc-results/nopreproc/*.json
sandbox/approxmc-results/nopreproc/*.pdf
sandbox/approxmc-results/nopreproc/*.ip*
sandbox/.ipynb_checkpoints/
sandbox/approxmc-results/bpe/
__pycache__/
out/
**journal.synctex.gz
**journal.out
**journal.log
**journal.aux
**journal.blg
**journal.bbl
bins/sharpsat-td-mccomp2022/build/
*.DS_Store
.idea
*._wordcount_selection.tex
